@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="resId" name="主键" underline="true"/>
                            <#input id="resUrl" name="资源地址" underline="true"/>
                            <#input id="resType" name="1图片 2视频 3其他"/>
                </div>

                <div class="col-sm-6">
                            <#input id="resDesc" name="描述" underline="true"/>
                            <#input id="relationId" name="关联id" underline="true"/>
                            <#input id="createTime" name="创建时间" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ResourcePostInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ResourcePostInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/biz_one/resourcePost/resourcePost_info.js"></script>
@}
